<html>
<head>
  <title>Strategy Alchemist</title>
  <link rel="stylesheet" href="static/css/style.css">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>

  <div class="navbar">
    <a href="/">
    <img src="static/images/logo-2.png" alt="Logo">
    </a>
    <div class="dropdown">
      <a class="dropdown-toggle" href="#">Explore &#x25BE;</a>
      <div class="dropdown-content">
        <a href="explore_moving_average_crossover.html">Moving Average Crossover</a>
        <a href="explore_mean_reversion_bollinger_bands.html">Mean Reversion with Bollinger Bands</a>
         <a href="explore_simple_contrarian.html">Simple Contrarian</a>
         <a href="explore_trend_following_macd.html">Trend Following with MACD</a>
         <a href="explore_logistic_regression_machine_learning.html">Logistic Regression with Machine Learning</a>
      </div>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <div id="social-test">
    <ul class="social">
      <li><a href="https://www.linkedin.com/in/lucas-fernandes1/" target = "_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/lucas-frd" target = "_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="mailto:lucas.fernandes@mail.mcgill.ca" target = "_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
    </ul>
    </div>

  </div>
</body>
  </div>
</html>
<div class="image-container">
  <img src="static/images/stocks_home.jpg" alt="stocks" class="stocks">
  <div class="overlay-text"><div class="welcome-title">
    <h1>Discover and Understand Trading Strategies</h1>
  </div>
  <div class="welcome-subtitle">
    <p>Explore the world of trading, experiment with different indicators and conditions, and see how your strategies perform in various market conditions. Gain insights, refine your approach, and make informed decisions to enhance your trading journey.</p>
  </div></div>
</div>


